body {
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: 40px;
}

td {
  border: 1px solid #000;
  padding: 5px 0;
}

.num-cell {
  text-align: center;
  /*vertical-align: middle;*/
  min-width: 31;
}

.name-cell {
  text-align: left;
  padding: 5px 10px;
}
